/* Popup container */
.popup {
  max-width: 100vw;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  position: relative;
  left: 4%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-2%,-50%);
  top: 50%;
  right: 4%;
  max-width: 71%;




  //  @include max-w($screen-md) {
  //    margin-bottom: 57px;
  //
  //
  //}
  @include min-w($screen-md) {
    margin-bottom: 57px;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
  }
}

.popuptext {
  visibility: hidden;
  width: 100%;
  max-width: 100vw;
  z-index: 1001;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  position: relative;

}

/* Add animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.close_pop-up {
  display: inline-block;
  cursor: pointer;
  right: -6px;
  position: absolute;
  font-size: 24px;
  color: green;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  line-height: 24px;
}

#splash-container {
  display: none;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  height: 100%;
}

#splash-container.show {
  display: block;
}
