//  Подключения шрифтов

// font-family: 'Roboto';
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src:  local('Roboto'), local('Roboto-Regular');
  src:  url('../fonts/Roboto-Regular.eot');
  src:  url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
// font-weight: 700;
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:  local('Roboto'), local('Roboto-Bold');
  src:  url('../fonts/Roboto-Bold.eot');
  src:  url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

// font-family: 'Proxima';
@font-face {
  font-family: 'Proxima-Regular';
  font-weight: normal;
  src:  local('Proxima'), local('Proxima-Regular');
  src:  url('../fonts/ProximaNova-Regular.eot');
  src:  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima-Semibold';
  //font-weight: 600;
  src:  local('Proxima'), local('Proxima-Semibold');
  src:  url('../fonts/ProximaNova-Semibold.eot');
  src:  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  font-weight: bold;
  src:  local('Proxima'), local('ProximaNova-Bold');
  src:  url('../fonts/ProximaNova-Bold.eot');
  src:  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Light';
  //font-weight: normal;
  src:  local('Proxima'), local('ProximaNova-Light');
  src:  url('../fonts/ProximaNova-Light.eot');
  src:  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
}

//@font-face {
//  font-family: 'Proxima';
//  font-weight: normal;
//  src:  local('Proxima'), local('ProximaNova-Light2');
//  src: url('../fonts/ProximaNovaExCn-Light.ttf') format('truetype');
//}


// Заголовки

h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

h1 {
  font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
